.main {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}

.mainTitle {
  color: white;
  font-size: 5rem;
  line-height: 4.5rem;
}

.subtitle {
  margin-top: 5rem;
  color: white;
  font-size: 2rem;
}

.whiteContainer {
  background-color: white;
  color: #354665;
  border-radius: 15px;
  height: 31rem;
  width: 20rem;
  padding: 10%;
}

.ccSubtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.switchButtonContainer {
  margin-top: 1rem;
  text-align: center;
}

.switchButton {
  border-radius: 5px;
  padding: 0.6rem;
  background-color: #0077ee;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.switchButton:hover {
  background-color: #006bd6;
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .whiteContainer {
    height: 510px;
    width: 320px;
    padding: 2rem;
  }

  .mainTitle {
    font-size: 3.5rem;
    line-height: normal;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .contentContainer {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 400px) {
  .whiteContainer {
    background-color: white;
    border-radius: 15px;
    height: 33rem;
    width: 16rem;
  }

  .main {
    justify-content: center;
    min-height: fit-content;
  }
}
