@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(to right, #1446c7, #6187e9);
  margin: 0 15%;
}

.blue {
  color: #0077ee;
}

.blueGray400 {
  color: #a6bcda;
}

.blueGray500 {
  color: #718bae;
}

.blueGray600 {
  color: #354665;
}

label {
  text-transform: capitalize;
}
